body{
    background-color: rgb(241, 240, 170);
    margin-left: 100px;
    margin-right: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
    margin: 20px;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: bold;
}
h3{
    font-style: italic;
}

.img_sections{
    margin-bottom: 20px;
    width: 500px;
}

.img_contato{
    margin-bottom: -10px;
    width: 30px;
}

.img_secundaria{
    margin-bottom: 20px;
    width: 300px;
}